.card4MainDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: #fff;
  .data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .time {
      display: flex;
      gap: 20px;
      color: #676767;
    }
  }
  p {
    color: #04594d;
    margin-bottom: 20px;
  }
}
