.card2MainDiv {
 background-color: #1A1A1A;
 padding: 20px 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .description {
    width: 45%;
    overflow-wrap: break-word;
  }
  .data {
    position: relative;
    width: 50%;
    img {
      max-width: 100%;
    }
    h5 {
      position: absolute;
      bottom: 0;
      padding: 15px;
    }
  }
}
