.card3MainDiv {
  color: white;
  display: flex;
  gap: 20px;
  padding-bottom: 15px;
  img {
    width: 40%;
    max-width: 100%;
    max-height: 100%;
  }
  .data {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    h4 {
      color: #000;
      margin-bottom: 15px;
    }
    p {
      color: #04594d;
      margin-bottom: 20px;
    }
    .time {
      display: flex;
      justify-content: space-between;
      color: #676767;
    }
  }
}
